<!DOCTYPE html>
<html>
<head>
  <title>StripeWebhooksEngine</title>
  <%= stylesheet_link_tag    "stripe-webhooks-engine/application", :media => "all" %>
  <%= javascript_include_tag "stripe-webhooks-engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
